@model FE.Identity.Models.Empresas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ID Cliente</label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre Empresa</label>
                <input asp-for="NombreEmpresa" class="form-control" />
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefono Empresa</label>
                <input asp-for="TelefonoEmpresa" class="form-control" />
                <span asp-validation-for="TelefonoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cedula Juridica</label>
                <input asp-for="CedulaJuridica" class="form-control" />
                <span asp-validation-for="CedulaJuridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
